#canvas {
    width: 100vw;
    height: calc(100vh - 30px);
}
#text {
    text-align: left;
    width: 100%;
    font-size: 22px;
    line-height: 1;
}
body {
    margin: 0px;
    overflow: hidden;
    background-color:lightblue;
    /* background-color: black; */
}